target/
project/target/
.cache
*.swp
.project
.classpath
.settings
/base/bin/
/base/.cache-main
/base/.cache-tests
/cli/bin/
/cli/.cache-main
/cli/.cache-tests
/gui/bin/
/gui/.cache-main
/gui/.cache-tests
/testCases/**/out.*
/**/.idea/
