 language: scala
 scala:
   - "2.11.7"
 jdk:
   - oraclejdk8
   - openjdk7
 script: "sbt clean coverage test && sbt coverageAggregate"
 after_success: "sbt coveralls"
 sudo: false
 addons:
  apt:
    packages:
      - oracle-java8-installer
